body {
    background-color: rgb(0, 0, 0) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0px;
}

#navBarSearchForm{
    width: 430px;
    
}



.mr-auto, .mx-auto {
    margin-right: 80px !important;
}
li .btn{
    background-color: red !important;
    border-radius: 20px !important;
    color: rgb(255, 255, 255) !important;
    text-decoration-color: yellow !important;
}
.dandi{
    color: wheat ;
    font-size: 25px !important;
}

.row{
    padding-right: 59px;
    padding-top: 20px;
    padding-left: 50px;
}

.container-fluid{
    padding-top: 40px;
}

.Product_Category{
    background: green;
    width: 70px;
    color: white;
    font-size : 12px;
    font-weight: bold;
}
.col-md-7{
    color: rgb(255, 255, 255);
    padding-left: 50px !important;
}

.Product_Price{
    color: orange;
    font-size : 26px;
    font-weight: bold;
    padding-top: 20px;
}



.cart{
    background-color:whitesmoke !important;
    color: #000000 !important;
    font-size: 15px !important;
    
}

.btnc{
    border-top-color: yellow ;
    border-right-color: violet ;
    border-left-color: skyblue !important;
    border-bottom-color: peachpuff !important ;
    border-radius: 10px ;
}

.fix_height{
    height: 380px;
    object-fit: contain !important;
    object-position: center center !important;
    
}

.btn:hover{
    background-color: rgb(0, 0, 0) !important;
    color: rgb(218, 102, 102) !important;
    border-color: white;
    border-top-color: yellow;
    border-right-color: violet;
    border-left-color: skyblue;
    border-bottom-color: peachpuff;
}

.postaddbutton{
    color: wheat;

}



.col-md-5{
    
    padding: 45px ;
}

h3{
    color: white;
}


.glow {
    font-size: 30px;
    color: #fff;
    text-align: left;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 50px #b4e600, 0 0 50px #09e71b, 0 0 60px #00b0e6, 0 0 70px #a974ee;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff4da6, 0 0 50px #b2f050, 0 0 30px #5eec7d, 0 0 30px #5ebae6, 0 0 30px #ff4da6;
      }
   
  }